#main-wrapper {
  height: calc(var(--full-height) - var(--header-height));
  position: relative;
  image-rendering: pixelated;
  &.full {
    height: var(--full-height);
  }
  *:has(&) {
    overflow: hidden;
  }
  * {
    color: rgb(var(--foreground-rgb-dark));
  }
  // background-color: #fbc;
  canvas {
    // background-color: #cbf;
    width: 100%;
  }
  .controls {
    // font-family: var(--font-mono);
    position: fixed;
    left: 10px;
    bottom: 10px;
    border-radius: 5px;
    background-color: #00000099;
    backdrop-filter: blur(10px);
    transition: 0.3s;
    &.valid {
      box-shadow: #038 0px 0px 50px 20px inset;
      border: 0.6px solid #cdf;
    }
    &.invalid {
      box-shadow: #612 0px 0px 50px 20px inset;
      border: 0.6px solid #fbc;
    }
    &.min {
      width: 64px;
      height: 27.5px;
    }
    &.max {
      width: 400px;
      height: 160px;
      // & {
      //   rotate: 210deg;
      // }
    }
    .controls-content {
      height: 300%;
      & > * {
        height: calc(100% / 3);
      }
    }
  }
}
