@use "@/app/tokens.scss" as tokens;
@use "sass:color";
@use "sass:map";

.header {
  width: 100%;
  height: tokens.$header-height;
  background: rgb(map.get(tokens.$colors, "background-rgb"));
  // background: linear-gradient(
  //   180deg,
  //   color.invert(rgb(map.get($colors, "background-rgb")), 0%),
  //   color.invert(rgb(map.get($colors, "background-rgb")), 20%)
  // );
  border-bottom: 2px solid rgb(map.get(tokens.$colors, "border-rgb"));
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .title {
    display: inline-block;
    margin: auto auto 0 10px;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
