.main_wrapper {
  text-align: center;
  height: calc(100vh - var(--header-height));
  position: relative;
  image-rendering: pixelated;
  .controls {
    font-family: var(--font-mono);
    position: absolute;
    left: 10px;
    bottom: 10px;
    border-radius: 5px;
    background-color: #11001188;
    transition: .3s ease all;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    backdrop-filter: blur(3px);
    * {
      transition: inherit;
    }
    &.valid {
      box-shadow: #038 0px 0px 50px 20px inset;
      border: 0.6px solid #cdf;
    }
    &.invalid {
      box-shadow: #612 0px 0px 50px 20px inset;
      border: 0.6px solid #fbc;
    }
  }
}

.palette {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  column-count: 3;
  height: 100px;
  div {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    span {
      font-size: x-small;
      color: black;
      text-shadow: white 0 0 2px,
      white 0 0 2px;
    }
  }
}

.tool_selector {
  * {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    &.selected {
      font-size: x-large;
    }
  }
}

.runner {
  * {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    &.selected {
      font-size: x-large;
    }
  }
}

.input {
  background-color: #88668844;
  border: #072 solid 1px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  &:focus {
    outline: 0;
    border: #2f8 solid 1px;
  }
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  rotate: 0deg;
  margin: 4px;

  &:hover {
    // background-color: #bbbbbb77;
    filter: drop-shadow(0 0 1px #000)
            drop-shadow(0 0 1px #000)
            drop-shadow(0 0 2px rgb(117, 151, 255))
            drop-shadow(0 0 1px #dff);
  }
  &.selected {
    translate: 6px 0;
  }
}
