.controlPanel {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  z-index: 10;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  background: var(--background-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
}

.matrixContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bracket {
  font-size: 2em;
  margin: 0 10px;
  transform: translateY(-10px) scaleY(4.5);
  color: var(--text-color);
}

.matrix {
  border-collapse: collapse;
  width: auto;
}

.matrix td {
  border: 2px solid var(--border-color);
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.upperTriangular {
  color: var(--text-color);
}

.lowerTriangular {
  color: var(--text-color-secondary);
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  width: 30px;
  height: 30px;
  color: inherit;
  font-weight: bold;

  &.invalid {
    background-color: var(--error-color);
  }

  &:hover {
    background-color: var(--background-color);
  }

  &:focus {
    background-color: var(--background-color);
  }
}

.nodeMarks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.nodeMark {
  width: 30px;
  border: 2px solid var(--border-color);
  text-align: center;
  cursor: pointer;
}

.message {
  margin-top: 10px;
  height: 40px;
  font-size: 0.8em;
  padding: 5px;
  background: var(--background-color);
  border: 2px solid var(--border-color);

  &.info {
    color: var(--text-color-secondary);
  }

  &.success {
    color: var(--success-color);
  }

  &.error {
    color: var(--error-color);
  }

  p {
    margin: 0;
    line-height: 1.2;
  }
}
