@use "@/app/globals.scss";

:root {
  --header-height: 60px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000;
}

// フルスクリーン時のスタイル
:fullscreen {
  .canvasContainer {
    width: 100vw;
    height: 100vh;
  }
}

// Webkit用フルスクリーン
:-webkit-full-screen {
  .canvasContainer {
    width: 100vw;
    height: 100vh;
  }
}
